[submodule "contagem-de-operacoes-e-tempo-execucao"]
	path = contagem-de-operacoes-e-tempo-execucao
	url = https://github.com/DisciplinasProgramacao/contagem-de-operacoes-e-tempo-execucao-OlavoVales.git
[submodule "revisao-e-nivelamento-dados-em-arquivo-texto"]
	path = revisao-e-nivelamento-dados-em-arquivo-texto
	url = https://github.com/DisciplinasProgramacao/revisao-e-nivelamento-dados-em-arquivo-texto-OlavoVales.git
[submodule "fila-2404/fila-flexivel-polimorfica-OlavoVales"]
	path = fila-2404/fila-flexivel-polimorfica-OlavoVales
	url = https://github.com/DisciplinasProgramacao/fila-flexivel-polimorfica-OlavoVales
[submodule "AtividadeAvaliativa2/AtividadeAvaliativa2"]
	path = AtividadeAvaliativa2/AtividadeAvaliativa2
	url = https://github.com/DisciplinasProgramacao/ordenacao-polimorfica-atividade-avaliativa-OlavoVales
[submodule "AtividadeAvaliativa2/ordenacao-polimorfica-atividade-avaliativa-OlavoVales"]
	path = AtividadeAvaliativa2/ordenacao-polimorfica-atividade-avaliativa-OlavoVales
	url = https://github.com/DisciplinasProgramacao/ordenacao-polimorfica-atividade-avaliativa-OlavoVales
